<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector.app">

    <application>

        <activity
            android:name=".features.link.LinkHandlerActivity"
            android:enabled="true"
            android:exported="true">
            <!-- Tchap : add autoVerify property to handle link tap without disambiguation dialog -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="tchap.incubateur.net" />
                <data android:host="www.tchap.incubateur.net" />

            </intent-filter>
        </activity>

    </application>

</manifest>
